
.header-div{
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255, 0.67);
    
  border-bottom:1px solid rgba(230, 230, 230, 0.534);
}
.header-div img{
    max-width: 70%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: transparent;
}
.header-div .topbar{
    min-width: 100%;
}