#topbar-div{
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: space-around;
    background-color: black;
    padding: 0 2% 0.3rem 2%;
    
}
button{

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 4.7rem;

    min-width: 4.7rem;
    max-width: 6rem;

    padding: 0.2rem 0 0.2rem 0;
    background-color: rgba(255, 255, 255, 0.228);
    color: rgba(255, 255, 255, 0.877);
    border: 1px solid rgba(255, 255, 255, 0.394);
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}

#topbar-div button{

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 6rem;

    width: 100%;
    max-width: 6rem;
    min-width: 4.9rem;

    padding: 0.2rem 0;

    background-color: rgba(255, 255, 255, 0.228);
    color: rgba(255, 255, 255, 0.877);
    border: 1px solid rgba(255, 255, 255, 0.394);

    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}

#topbar-div button:hover{
    background-color: rgba(255, 255, 255, 0.402);
    font-weight: 500;
    cursor: pointer;
}

.btndrop{
    background-color: rgba(255, 255, 255, 0.638);
    color: black;
    padding:0.5rem;
}
.menu button:hover{
    background-color: rgba(255, 255, 255, 0.902)!important;
}

a{
    background-color: transparent;
}

#topbar-div{
    position: relative;
    overflow: visible;
}

.menu-container{
    position: relative;
    overflow: visible;
}

.menu{
    position: absolute;

    top: 100%;
    left: 0;

    z-index: 9999;

    background: black;
    color: white;
}